<a href="https://colab.research.google.com/github/gupta24789/pytorch_tutorials/blob/main/04_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples

- used to store multiple items in a single variable.
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets
- duplicates values are allowded
- data type is <class 'tuple'>
- Using the tuple() method to make a tuple

-  tuples are immutable, they do not have a built-in append() method
- You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple

- accessing tuples items are same as list



## Tuple Methods
| Method  | Description                                                                             |
|---------|-----------------------------------------------------------------------------------------|
| count() | Returns the number of times a specified value occurs in a tuple                         |
| index() | Searches the tuple for a specified value and returns the position of where it was found |

In [1]:
### Create Tuple With One Item

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [2]:
## create tuple with constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
## Add two tuples
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Tuple Unpacking/List Unpacking

In [4]:
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [7]:
## If the number of variables is less than the number of values,
## you can add an * to the variable name and the values will be assigned to the variable as a list:

a,b,*c = (1,2,3,4,5)
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

In [8]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [9]:
fruits = ["apple", "mango", "papaya", "pineapple", "cherry"]

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Add Tuple

In [10]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuple

In [13]:
## same as list
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')